{% extends 'base.html' %}
{% block title %}
  <title>Index - TaskByte</title>
{% endblock title %}
{% block content %}
  <div class="container">
    <h1>{{ index_msg }}</h1>
  </div>
  <br>
  <br>
  <br>
  <p class="h2 text-center text-wrap">Turn chaos into clarity, one byte at a time</p>
  <p class="h4 text-center text-wrap">TaskByte keeps you organized, efficient, and always ahead of the game!</p>
  <div class="text-center">
    <a href="{% url 'todo_list' %}" class="btn btn-primary shadow">Let's Go!</a>
  </div>
{% endblock content %}
