{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
  <title>Login - TaskByte</title>
{% endblock title %}
{% block content %}
  <div class="container">
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-success d-flex align-items-center alert-dismissible fade show"
             role="alert">
          {{ message }}
          <button type="button"
                  class="btn-close"
                  data-bs-dismiss="alert"
                  aria-label="Close"></button>
        </div>
      {% endfor %}
    {% endif %}
    <br>
    <h1>Please login to your account</h1>
    <form method="POST" class="mt-5 col-5">
      {% csrf_token %}
      {{ form|crispy }}   <!-- Django uses "form" as login view form obj in it's class view -->
      <button type="submit" class="btn btn-primary">Login</button>
    </form>
  </div>
{% endblock content %}
