{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}
  <title>Register - TaskByte</title>
{% endblock title %}
{% block background %}
  style="background: url('{% static 'images/diary.jpg' %}') no-repeat center center/cover; height="100vh"; overflow: hidden;"
{% endblock background %}
{% block content %}
  <div class="container">
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-success d-flex align-items-center alert-dismissible fade show"
             role="alert">
          {{ message }}
          <button type="button"
                  class="btn-close"
                  data-bs-dismiss="alert"
                  aria-label="Close"></button>
        </div>
      {% endfor %}
    {% endif %}
    <br>
    <h1>Register your account</h1>
    <form method="POST" class="mt-5 col-5">
      {% csrf_token %}
      {{ register_form|crispy }}
      <button type="submit" class="btn btn-primary">Register</button>
    </form>
  </div>
{% endblock content %}
